body {
    margin:0;
    background: url('../Pictures/Login/1.png') no-repeat fixed center;
    background-size: cover;
}

h1{
  display: block;
  font-size: 4em;
  text-align: center;
  font-style: oblique;
  color: black;
  font-weight: bolder;
}

.add{
  display: block;
  font-size: 4em;
  text-align: center;
  font-style: oblique;
  color: rgb(67, 181, 196);
  font-weight: bolder;
  text-decoration: none;
  margin-bottom: 2%;
}

.add:hover{
    color: rgb(228, 81, 81);
    font-size: 4.1em;
    text-shadow: rgb(156, 23, 23) 0.2em 0.3em 0.2em;
}

tr:nth-child(odd){background-color: #e48585}
tr:nth-child(even){background-color: #8b8282f5}


table{
    margin: auto;
    color: white;
    border: 8px outset brown;
}

table td, th{
    border: 2px solid black;
}

th{
    font-size: xx-large;
    background-color: rgb(73, 73, 73);
    color: white;
}

td{
    font-size: xx-large;
}

table td a{
    font-size: xx-large;
    color: aliceblue;
    text-decoration: none;
}

table td a:hover{
    color: red;
    font-weight: bold;
}

