body {
    margin:0;
    background: url('../Pictures/Login/Shop Cake.jpg') no-repeat fixed center;
    background-size: cover;
}

h1{
  display: block;
  font-size: 4em;
  text-align: center;
  font-style: oblique;
  color: rgb(240, 240, 176);
  font-weight: bolder;
}

.add{
  display: block;
  font-size: 4em;
  text-align: center;
  font-style: oblique;
  color: rgb(67, 181, 196);
  font-weight: bolder;
  text-decoration: none;
  margin-bottom: 2%;
}

.add:hover{
    color: rgb(53, 126, 5);
    font-size: 4.1em;
    text-shadow: rgb(156, 23, 23) 0.2em 0.3em 0.2em;
}

tr:nth-child(odd){background-color: #e48585}
tr:nth-child(even){background-color: #8b8282f5}


table{
    margin: auto;
    color: white;
    border: 8px outset brown;
}

table td, th{
    border: 2px solid black;
}

th{
    font-size: xx-large;
    background-color: rgb(73, 73, 73);
    color: white;
}

td{
    font-size: xx-large;
}

table td a{
    font-size: xx-large;
    color: aliceblue;
    text-decoration: none;
}

table td a:hover{
    color: red;
    font-weight: bold;
}

@media only screen and (min-width: 18.75em) and (max-width: 48em) {
    .col-1 {width: 11.4%;}
    .col-2 {width: 22.8%;}
    .col-3 {width: 34.2%;}
    .col-4 {width: 45.6%;}
    .col-5 {width: 57%;}
    .col-6 {width: 79.8%;}
    .col-7 {width: 91.2%;}
  }
  
  @media only screen and (min-width: 48em) and (max-width: 65em) {
    .conteiner{
      display: inline-block;
      vertical-align: middle;
      width:40%;
    }
  } 
  
  @media only screen and (min-width: 65em) {
    .conteiner{
      display: inline-block;
      vertical-align: middle;
      width:40%;
    }
  } 
