.error{
    color: black;
    font-weight: bold;
    background-color: whitesmoke;
    
    border: 2px solid black;
    border-radius: 10%;

    margin-bottom: 20px;
    padding: 0px 10px;
}

body{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: url('../Pictures/Login/Login\ Cake.jpg') no-repeat fixed center center;
    background-size: cover;
}

.conteiner{
    width: 500px;
    border: 4px solid black;
    border-radius: 10%;
    background-color: brown;

    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    padding: 10px 50px;
}

input[type=text],input[type=password] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
}

a , input[type=submit]{
    border: 1px solid black;
    border-radius: 5%;
    background-color: lime;
    font-weight: bold;
    color: black;
    padding: 14px 10px;
    /* text-align: center; */
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active, input[type=submit]:hover {
    background-color: green;
}

a{
    float: right;
}

input[type=submit]{
    float: left;
    font-size: medium;
}

/* #email{
    background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px top no-repeat;
    background-size: 16px 80px;
}

#password{
    background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px top no-repeat;
    background-size: 16px 80px;
} */
