.contain{
    box-sizing: border-box;
    display: inline-block;
    border: 0.4em solid black;
    margin: 1em;
    border-radius: 10%;
    padding: 2% 2% 1% 2%;
    background-color: #f96a58;
}

.contain:hover{
    border-color: #f3a4a7;
}

.contain p{
    margin: 0;
}

.contain img{
    width: 350px;
    height: 250px;
    border-radius: 10%;
}

.text-head{
    color: white;
    text-shadow: 4px 4px 7px black;
    font-family: Brush Script MT;
    font-size: 5em;
}

header a{
    text-decoration: none;
}

body{
    background: url("../Pictures/Login/Shop Cake.jpg");
    background-size: cover;
}

#about{
    width: 4.7em; height: 3em;
}

.links{
    width: 100%;
    background-color: #f96a58;
    padding: 0 3%;
    display: inline-block;
    position: sticky;
    top: 0;
}

.button{
    width: 3em;
    border-radius: 20%;
    background: none; 
    border: none;
    padding: 0.5em 0.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.links a > img, .links button > img{
    width: 100%;
}

.button > a,.button > a:link,.button > a:visited{
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    color: black;
}
  
.button:hover {
    background-color: #d51023;
}
